.title{
    text-align: center;
    font-weight: bold;
}
.subTitle{
    margin-left: 10%;
    margin-bottom: 1vh;
}
.editTextarea{
    margin-left: 10%;
    width: 80%;
    height: 10vh;
    font-size: 2vh;
}
.editDate{
    margin-left: 10%;
    width: 80%;
    font-size: 2vh;
}
.editTime{
    margin-left: 10%;
    width: 80%;
    font-size: 2vh;
}
.addBtn{
    text-align: center;
    text-decoration: none;
}
.addBtnDiv{
    /* border: yellow solid; */
    margin-top: 5%;
    margin-bottom: 4vh;
    margin-left: 10%;
    width: 80.7%;
    height: 5vh;
    background-color: rgb(187, 187, 187);
}
.addBtnP{
    /* margin-top: 1.2vh; */
    padding-top: 0.5vh;
    font-size: 3vh;
    color: white;
}